body {
  font-family: 'Pavanam', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ae9b71;
}

/*Gestion des CARDS ___________________________________________________________________________*/

.badge img {
  max-width: 57px;
  max-height: 58px;
}

.card-img-top {
  max-height: 268px;
  max-width: 268px
}

/*Titre en gras dans les cards*/
.prodName {
  font-weight: bold;
}

.prodRef {
  font-size: 0.7em;
}

.btn {
  margin: 20px;
}

.container-fluid {
  padding-top: 100px;
}

.card {
  width: 18em;
  text-align: center;
  margin-bottom: 20px;
}

.flexing {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ref {
  font-style: italic;
}

.nous {
  background-color: #ae9b71;
  color: #0f0607;
  padding-top: 100px;
  padding-bottom: 10px;
}

#shopName{
  color : #0f0607;
  font-size: 4em;
  font-weight: bolder;
}

/*Footer___________________________________________________________________________*/
#payment {
  margin-top: 30px;
}

.paymentOptions{
  font-size: 0.9em;
  text-align: center;
  color: #0f0607;
}

.payLogos {
  font-size: 2em;
  text-align: center;
}

.brandText {
  font-family: 'Press Start 2P', cursive;
}

.w3-display-middle {
  font-family: 'Press Start 2P', cursive;
}

/*Parallax*____________________________________________________________________________________/
/* The image used */
.parallax01{
  background-image: url('../images/oldies.jpg');
  padding-top: 100px;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax02{
  background-image: url('../images/hdd.jpg');
  padding-top: 100px;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax03{
  background-image: url('../images/network.jpg');
  padding-top: 100px;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR________________________________________________________________________*/
#ShoesAddictedIcon {
  width: 40px;
  padding-bottom: 20px;
}

/* CSS du MODAL _______________________________________________________________________*/
.table {
  font-size: 0.9em;
  margin: auto;
}

.qty {
  width: 4em;
}

.trash {
  display: inline;
}

/*Footer de suivez nous*/
.titleContact {
  font-size: 4em;
  text-align: center;
  color: #0f0607;
}

.footLi {
  font-size: 1.5em;
  color: #0f0607;
  margin: 12px;
  text-align: center;
  list-style: none;
}

#payment {
  margin-bottom: 50px;
}

.footLi a {
  color: #0f0607;
}
